@font-face {
  font-family: 'Yipes';
  src: url('../fonts/Yipes-Regular.woff2') format('woff2'),
      url('../fonts/Yipes-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yipes Italic';
  src: url('../fonts/Yipes-Italic.woff2') format('woff2'),
      url('../fonts/Yipes-Regular.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}




html,
body {
  overflow-x: hidden;
}

body {
  height: 100vh;
  background-color: #ABA18A;
}

h1 {
  margin: 0;
  font-family: 'Yipes Italic', sans-serif;
  font-style: italic;
  font-size: 4em;
  color: #2E303B;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4em;
  font-weight: bold;
  color: #ffffff;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: url('');
  background-size: cover;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  height: auto;
  display: table;
}

.content {
  display: table-cell;
  vertical-align: middle;
}

.item {
  width: auto;
  height: auto;
  margin: 0 auto;
  text-align: center;
  padding: 8px;
}

@media only screen and (min-width: 800px) {
  h1 {
    font-size: 6em;
  }
  p {
    font-size: 1.6em;
  }
}

@media only screen and (max-width: 320px) {
  h1 {
    font-size: 2em;
  }
  p {
    font-size: 1.2em;
  }
}